[Unit]
Description=Retry Black Box RPL Warehouse Web Push notifications every minute

[Timer]
OnBootSec=45s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=ppe-push-notifications.service

[Install]
WantedBy=timers.target
